/out/
/resources/public/js/compiled/
/yetipad/js
/yetipad/service-worker*
/yetipad/workbox-*
/*-init.clj
/*.loggit
/.nrepl-port

# Node.js dependencies
/node_modules/

/~*/
# Cache and data files
/.*/
!/.clj-kondo/
/.clj-kondo/.cache
/.clj-kondo/cache
!/.idea/
/.idea/workspace.xml
/.idea/libraries
/.idea/shelf
!/.run/
