/out/
/resources/public/js/compiled/
/yetipad/js
/yetipad/service-worker*
/yetipad/workbox-*
/*-init.clj
/*.loggit

# Node.js dependencies
/node_modules/

# Cache and data files
/.*/
!/.idea/
/.idea/workspace.xml
/.idea/libraries
/.idea/shelf
!/.run/

package-lock.json
