/out/
/resources/public/js/compiled/
/docs/
/*-init.clj
/*.loggit
/.nrepl-port
/.tmp*
*.zip

# Node.js dependencies
/node_modules/

/~*/
# Cache and data files
/.*/
!/.github/
!/.github/workflows/
!/.vscode/
!/.run/
